/* width */
::-webkit-scrollbar {
    width: 12px;
    height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 2px solid #edf2f7;
    transition: background-color 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #b8c5d6;
}